.sec1{
    height: 200px;
    width: 200px;
    background-color: cadetblue;
    border: solid 10px black;
    padding: 20px;
}
.sec2{
    height: 200px;
    width: 200px;
    background-color: gold;
    border-top: 20px solid black;
    border-bottom: 20px solid black;
    border-left: 10px solid black;
    border-right: 10px solid black;
    margin-left: 260px;
}
.sec3{
    height: 200px;
    width: 200px;
    background-color: indianred;
    border: solid black 10px;
    margin-left: 40px;
}